/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Segoe UI";
$font-family-monospace: "Fira Code";

// colors
$body-bg: #243a5e;
$body-color: #ffffff;
$presentation-heading-color: #50e6ff;
$link-color: #8661c5;
$selection-bg: #737373;

.reveal a {
  line-height: 1.3em;
}

// https://stackoverflow.com/questions/74083521/how-to-increase-size-logo-in-quarto-reveal-js-presentation
.reveal .slide-logo {
  height: 100px !important;
//  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}
